<%- include("partials/header.ejs") %>

<h2>Results</h2>

<% for (let q of quotes) { %>
  <p>
    <%= q.quote %><br>
    <a href="#" class="authorLink" id="<%= q.authorId %>">
      <%= q.firstName %> <%= q.lastName %>
    </a>
  </p>
<% } %>

<div id="authorInfo"></div>

<script src="/js/scripts.js"></script>

<%- include("partials/footer.ejs") %>